<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845627783462-etrnb8sjto3uvta11hurucsh9qoaai5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845627783462-etrnb8sjto3uvta11hurucsh9qoaai5l</string>
	<key>API_KEY</key>
	<string>AIzaSyBe8R7wNgfecIUfUcJFqdjoA65Hf5Hybl8</string>
	<key>GCM_SENDER_ID</key>
	<string>845627783462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.temirdaftar</string>
	<key>PROJECT_ID</key>
	<string>temirdaftar-90e11</string>
	<key>STORAGE_BUCKET</key>
	<string>temirdaftar-90e11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845627783462:ios:0e1584d790fc81171a69e7</string>
</dict>
</plist>